.asciiArt {
  font-size: 5px;
  white-space: nowrap;
  display: flex;
}

.letters {
  font-size: 15px;
  align-self: center;
}

.ascii-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}

@media (max-width: 768px) {
  .letters {
    font-size: 8px;
  }

  .asciiArt {
    font-size: 4px;
  }

  .ascii-wrapper {
    align-self: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
}
