.asciiArt {
    font-size: 2px;
    display: flex;
    align-items: center;
}

.letters {
    font-size: 7px;
}

@media (min-width: 768px) {
    .asciiArt {
        font-size: 5px; 
        justify-content: left;
    }
    
    .letters {
        font-size: 10px;
    }
}
  
@media (min-width: 1024px) {
    .asciiArt {
        font-size: 5px;
    }
    
    .letters {
        font-size: 10px;
    }
}